$text: #FFFFFF;
$placeholder: #39507AB2;
$main: #39507A;
$main-light: #244169;
$background: #1C2D4F;
$menu: #0D182C;
$rest: #14213D;
$scroll-bcg: #39507A4D;
$red: #ff0000b5;
$button-bcg: #39507A;
$button-col: white;

$text_dark: #ffffffb5;
$placeholder_dark: #36353D;
$main_dark: #ffffff77;
$main-light_dark: #ffffff50;
$background_dark: #131313;
$menu_dark: #0D182C;
$rest_dark: #0a0908;
$scroll-bcg_dark: #0a0908;
$red_dark: #FF0000;
$button-bcg_dark: #39507A;
$button-col_dark: white;

$text_pink: #FFFFFF;
$placeholder_pink: #EFCFE3;
$main_pink: #f7d9eb;
$main-light_pink: #EFCFE3;
$background_pink: #EA9AB2;
$menu_pink: #e2739679;
$rest_pink: #E27396;
$scroll-bcg_pink: #e27396ab;
$red_pink: #FF0000;
$button-bcg_pink: #EFCFE3;
$button-col_pink: #E27396;

$text_light: #000;
$placeholder_light: #0000008a;
$main-lig: #000000aa;
$main-light_light: #00000075;
$background_light: #eae0d5;
$menu_light: #5e503f57;
$rest_light: #c6ac8f;
$scroll-bcg_light: #c6ac8f;
$red_light: #FF0000;
$button-bcg_light: #39507A;
$button-col_light: white;
