
%form {
  width: 680px;
  height: 430px;
  border-radius: 30px;
}
%set-item {
  display: flex;
  justify-content: space-between;
  align-items: center;      
  padding: 23px 20px;           
  border-radius: 30px;
}

@media (min-width: 1200px) {
  %form {
    width: 800px;
    height: 550px;
  }
}

@media (min-width: 1600px) {
  %form {
    width: 1000px;
    height: 600px;
  }
}