
%button-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}


%small-text {
  font-size: 15px;
  font-weight: 400;
}
%middle-text {
  font-size: 20px;
  font-weight: 400;
}
%title {
  font-size: 30px;
  font-weight: 400;
}
%play-text {
  font-size: 70px;
  font-weight: 400;
}